@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Lexend Deca', sans-serif;
}

.react-multiple-carousel__arrow::before {
    font-weight: 900;
}

.categories_arrows .react-multiple-carousel__arrow::before {
    color: #aaa;
}

.categories_arrows .react-multiple-carousel__arrow--right {
    right: calc(0px);
}

.categories_arrows .react-multiple-carousel__arrow--left {
    left: calc(0px);
}

.categories_arrows .react-multiple-carousel__arrow:hover {
    background-color: #009f2087;
}